<div class="container-fluid" %>
  <% provide(:title, "| Jargon Buster") %>
	
	<!-- links to letters and topictags -->
	<%= render 'alphabet_links' %>
      
	
  <!-- Main body -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <% @entries.sort.each do |entry| %>
      <div class="individualentry"> 
        <p><strong class="bold"><%= link_to entry.title, entry_path(entry) %></strong></p>
				<p><%= sanitize(entry.description.split("\n")[0]) %></p>
				<p><% entry.topics.each do |topic| %>
					<%= link_to "#{topic.name}", topic_path(topic), class:"btn btn-primary btn-xs", id:"#{topic.name}" %> 
				<% end %>
				</p>
				<% if user_signed_in? %>
          <%= link_to "Edit", edit_entry_path(entry), class:"btn btn-default" %><br>
        <% end %>
      </div>
      
			<div class="entryseperator">
      </div>
      <% end %> <!-- @entries iteration -->
      
      <!-- PAGINATION -->
      <div class="paginateentries">
        <%= will_paginate @entries, renderer: BootstrapPagination::Rails %>
      </div> 
			
    </div><!-- col-md -->
  </div><!-- row -->
</div><!-- container -->