<div class="container-fluid" %>
  <% if params[:controller] == "entries" %>
  <% provide(:title, "| Jargon Buster") %>
	<% else %>
	<!-- this isn't working CODEBAR -->
	<% provide(:title, "| Categories") %>
	<% end %>

	
  <!-- Headings -->
	<div class="row">
		<div class="col-md-offset-2 col-md-8 headings" id="entry">
			<h1 style="margin-top: 0px; margin-bottom: 50px;">JARGON BUSTER</h1>
      <p><%= link_to 'ALL |', entries_path %>
        <!-- Needs putting into model somehow.... -->
        <% group = @all_entries.group_by{|entry| entry.title.first} %>
        <% group.sort.each do |letter, value| %>
        <%= link_to "#{letter} | ", entries_path(:letter => letter) %>
      <% end %>
      </p>
		</div>
    
	</div>
	
  
 
	
  <!-- ADMIN -->
       <% if user_signed_in? %>
  <%= link_to "Add new entry", new_entry_path, class: "btn btn-default" %>
      <% end %>
  
  <!-- Main body -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <% @entries.each do |entry| %>
      <div class="individualentry"> 
        <p><strong style="font-size: large;"><%= link_to entry.title, entry_path(entry) %></strong></p>
        <p><%= sanitize(entry.description.truncate(100, seperator: /\n/)) %></p>
      
   
      <!-- ADMIN -->
         <% if user_signed_in? %>
        <%= link_to "Edit", edit_entry_path(entry), class:"btn btn-default" %><br>
         <% end %>
        </div><!-- individualpost -->
      
      
      <div class="entryseperator">
        </div>
        <% end %> <!-- @snippets iteration -->
      <div class="paginatesnippets">
        <!-- NEED PAGINATION CODE HERE!!-->
      </div>
    </div><!-- col-md -->

    <!-- Side navigation -->
    
  
  </div><!-- row -->
</div><!-- container -->