<div class="container">
  <h1>Edit topic category</h1><br>
  <div class="margin: 10px;">
    <h5><strong>Topic name: </strong><%= @topic.name %></h5><br>
    <%= form_for @topic do |f| %>
    <%= f.label :category %>
    <%= f.text_field :category %><br>
    <%= f.submit %>
    <% end %>
  </div><br>
</div>