<div class = "container-fluid" >
	<% provide(:title, "| Musicals") %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Musicals app</h1><br>
			
			<div class="portfolioseperator">
        </div>
  
  <div class="content">
		<p><strong>Github link: </strong><a href="https://github.com/clairgriffiths/musicals">Here</a></p>
    <p><strong>Elevator pitch:</strong> An app that stores all of the musicals you’ve seen along with the date that you saw it and the theatre in which you saw it.</p>

    <p><strong>Client: </strong>My mum!</p>
    
    <p><strong>Features </strong></p>
    <ul>
      <li>Index page that shows all performances grouped by year.</li>
      <li>Show Theatre page with integrated Google Maps to show the location of the theatre.</li>
			<li>The ability to upload an image for each show. </li>
			<li>A login system (built from scratch).</li>
    </ul>
			</div>
			
			
	
			<div class="portfolioseperator">
        </div>
			<div class="content">
				
				<p><strong>Description</strong></p>
			<p>This was my first app and came to me after a weekend with my mum in which we went to see a musical. She swore she had visited that particular theatre before, I swore we hadn’t. She had kept a programme form every single musical she has ever seen and remarked ‘we should write down somewhere what we saw and where so that we’d be able to know whether I’d visited before’. Well, I knew just how to make that happen! </p>

		<p>Creating this app was great, it allowed me to implement some of the things I’d been learning in my studying, but also exposed me to new things and problems to solve! For example, I assumed that once I’d set up the Paperclip gem I wouldn’t need to do anything else, but once I’d pushed it to Heroku I discovered that I actually needed to find somewhere online to store the images as Heroku didn’t do it itself! That gave me exposure to AWS and I managed to figure out how to link my account.</p>
	<p><strong>Things I'm proud of </strong></p>
    <ul>
      <li>Managing to get the theatre search to use both the Theatre Name and City search parameters to find the right place.</li>
      <li>Playing with .group_by for the first time and getting the index page to display in the way I wanted.</li>
			<li>Getting dropdown boxes to work.</li>
			<li>Getting the app pushed up to Heroku and working!</li>
    </ul>
    
    
    <p><strong>Future developments </strong></p>
			<ul>
				<li>A page to show all potential theatres from the search results allowing the user to pick the correct one (Thanks Nicky for the suggestion!)</li>
				<li>A Google Map with pins plotting the location of all the theatres</li>
				<li>When landing on the New show or New Theatre page from the New Performance page, after submitting it would re render the New Performance page.</li>
			</ul>
    

		<p><strong>Gems I used </strong></p>
			<ul>
				<li>Geocoder – To show the location of the theatre on a Google Map</li>
				<li>Paperclip – To upload an image for each </li>
				<li>Bootstrap and Bootstrap_form – For styling</li>
				<li>AWS-SDK – For storing the uploaded images</li>
				<li>Figaro – For authentication of the AWS account</li>
			</ul>
    

   <p><strong>Potential future code cleanup </strong></p>
			<ul>
				<li>Testing!</li>
				<li>Refactoring – I’m sure that the code is pretty ‘smelly’ and moving some of the methods into scopes or helpers/partials will make it easier to read</li>
				<li>Move styling into the CSS folder. Some of the styling is already there, but a lot of it is still in the views</li>
			</ul>
    
      <div class="portfolioseperator"></div>
				
			<div class="content">
				<p><strong>Screenshots</strong></p>
				</div>
				
				<div class="col-md-12">
					<p class="portfolioimages"><%= image_tag "musicals/indexpage.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
		  		<p class="portfolioimages"><%= image_tag "musicals/All shows.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
					<p class="portfolioimages"><%= image_tag "musicals/All theatres.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
					<p class="portfolioimages"><%= image_tag "musicals/Show show page.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
					<p class="portfolioimages"><%= image_tag "musicals/show Theatre page.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
					<p class="portfolioimages"><%= image_tag "musicals/Make a change.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
					<p class="portfolioimages"><%= image_tag "musicals/Add a performance.JPG", height: '500', width: '800', class: "img-responsive image"%></p>
				</div>
   
    
		</div>
</div>