<div class = "container-fluid" >
	<% provide(:title, "| Topics covered") %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Topics covered</h1><br>

			<div class="portfolioseperator">
        </div>
  
      <div class="col-md-offset-2 col-md-8">
        <div class="content">
          Books:
          <div class="form-group">
            <div class="pull-left control-label">
              <%= image_tag "books/Programming Ruby.jpg", height: '300', width: '200', class: "img-responsive image center-block book"%>
            </div>
            <div class="pull-left control-label">
              <%= image_tag "books/Agile.jpg", height: '300', width: '200', class: "img-responsive image center-block book"%>
            </div>
            <div class="pull-left control-label">
              <%= image_tag "books/test prescriptions.jpg", height: '300', width: '200', class: "img-responsive image center-block book"%>
            </div>
            
          </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="pull-left control-label">
              <%= image_tag "books/RSpec book.jpg", height: '300', width: '200', class: "img-responsive image center-block book"%>
            </div>
        <div class="form-group">
            <div class="pull-left control-label">
              <%= image_tag "books/POODR.jpg", height: '300', width: '200', class: "img-responsive image center-block book"%>
            </div>
            <div class="pull-left control-label">
              <%= image_tag "books/kehoe.jpg", height: '300', width: '200', class: "img-responsive image center-block book"%>
            </div>
        </div>
          </div>
        <div class="clearfix"></div>
        </div>
  </div>
    </div>
  </div>
  </div>