<div class = "container-fluid" >
	<% provide(:title, "| Topics covered") %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Topics covered</h1><br>

			<div class="portfolioseperator">
        </div>
  
      
        <div class="content">
          Books:
          <div class="form-group center-block">
            <div class="pull-left control-label">
              <%= image_tag "books/Programming Ruby.jpg", height: '100', width: '100', class: "img-responsive image center-block book"%>
            </div>
            <div class="pull-left control-label">
              <%= image_tag "books/Agile.jpg", height: '100', width: '100', class: "img-responsive image center-block book"%>
            </div>
            <div class="pull-left control-label">
              <%= image_tag "books/test prescriptions.jpg", height: '100', width: '100', class: "img-responsive image center-block book"%>
            </div>
           <div class="pull-left control-label">
              <%= image_tag "books/RSpec book.jpg", height: '100', width: '100', class: "img-responsive image center-block book"%>
            </div>
        
            <div class="pull-left control-label">
              <%= image_tag "books/POODR.jpg", height: '100', width: '100', class: "img-responsive image center-block book"%>
            </div>
            <div class="pull-left control-label">
              <%= image_tag "books/hartl.jpg", height: '100', width: '100', class: "img-responsive image center-block book"%>
            </div>
        <div class="clearfix"></div>
        </div>
          
        <div class="portfolioseperator">
        </div>
          <br>
          <div>
            Courses: 
            <%= render 'ruby' %>
            <%= render 'rails' %>
            <%= render 'sql' %>
            <%= render 'comp_sci' %>
          </div>
      </div>
    </div>
  </div>
  </div>