<div class = "container-fluid">
	<% provide(:title, "") %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Coding with Clair</h1><br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-4" style="background-color:#00A885; padding: 15px;">
      <p>Welcome to Coding with Clair! I'm currently studying Ruby on Rails (with the aim of becoming a junior developer) and needed somewhere to store all of my notes! This website has: </p>
      <p><%= link_to "Learning Guides", snippets_path %> which contains plain english descriptions of bits of code I've picked up along the way</p>
      <p>A <%= link_to "Jargon Buster", entries_path %> which is a bit like a dictionary. I know Google has the answers to most things but have you ever tried to Google :&ampmap and got anything useful back? </p>
      <p>A <%= link_to "Daily updates", posts_path %> which track what I've been studying (and what I'm currently studying...in real time!) </p>
      <p>My <%= link_to "Portfolio", snippets_path %> showcasing some of the projects I've been working on.</p>
    </div>
    <div class="col-md-offset-1 col-md-4" style="text-align:center; border: #00A885 2px solid;">
      <p>What I'm studying now:</p>
      <p<%= render partial: 'layouts/current_status' %>
    </div>
  </div><!-- row -->
  
</div>