
<div class="formtitle">
  <% if user_signed_in? %>
  <%= form_for @project do |form| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@project.errors.count, "error") %> prohibited this post from being saved:</h5>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :link %>
    <%= form.text_field :link %><br>
		<%= form.label :description %>
		<%= form.text_field :description %><br>
    <%= form.label :image %>
    <%= form.file_field :image %><br>
    <%= form.submit %>
  
  <% end %>
</div>

<% else %>
  <div class="container">
		<h1 class="text-align: center;">Uh uh uh!</h1>
		<p class="text-align: center;">You didn't say the magic word!</p>
		<p class="text-align: center;"><%= link_to image_tag('magic word'), '/'%></p><br>
		<p class="text-align: center;">Sorry, this page is restricted. The rest of the site is open to you though!</p>
	</div>
<% end %>