<% if user_signed_in? %>
<div class="container">
  <h1>Projects</h1>

	<table class="table">
		<thead>
			<tr>
				<td>Title</td>
				<td>Link</td>
				<td>Description</td>
				<td>Image</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% @projects.each do |p| %>
				<td><%= p.title %></td>
				<td><%= p.link %></td>
				<td><%= p.description %></td>
				<td id="projectimage"><%= image_tag p.image.url(:thumb) %></td>
				<td><%= link_to "Edit", edit_project_path(p) %></td>
				<td><%= link_to "Delete", project_path(p) , method: :delete, data: { confirm: 'Are you sure?' } %> </td>
			</tr>
			<% end %>
		</tbody>
	</table> 
</div>
<% else %>
  <div class="container">
		<h1 class="text-align: center;">Uh uh uh!</h1>
		<p class="text-align: center;">You didn't say the magic word!</p>
		<p class="text-align: center;"><%= link_to image_tag('magic word'), '/'%></p><br>
		<p class="text-align: center;">Sorry, this page is restricted. The rest of the site is open to you though!</p>
	</div>
<% end %>
