

<div class="container-fluid">
  <% provide(:title, "| Schedule") %>
  
	<!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 class="heading-text">DASHBOARD</h1>
		</div>
	</div>
  
  <div>
    <%= button_to "This week", action: "dashboard", params: { from: 1.week.ago.strftime("%Y-%m-%d"), to: Time.now.strftime("%Y-%m-%d")}  %>
    <%= button_to "Last week", action: "dashboard", params: { from: 2.weeks.ago.strftime("%Y-%m-%d"), to: 1.week.ago.strftime("%Y-%m-%d")}  %>
    <%= button_to "This month", action: "dashboard", params: { from: Time.now.beginning_of_month.strftime("%Y-%m-%d"), to: Time.now.end_of_month.strftime("%Y-%m-%d")}  %>
    <%= button_to "Last month", action: "dashboard", params: { from: Time.now.last_month.beginning_of_month.strftime("%Y-%m-%d"), to: Time.now.last_month.end_of_month.strftime("%Y-%m-%d")}  %>
  </div>
  <!-- Main body -->
  
    <div class="row">
      <div class="col-md-offset-1 col-md-5" >
        <table class="table", style="text-align: center;">
          <thead>
          <tr>
            <td><strong>Project</strong></td>
            <td><strong>Total Time</strong></td>
          </tr>
          </thead>
          <tbody>
            <% dashboard_grouped_by_title.each do |project| %>
            <tr>
              <td><%= project["title"]["project"] %></td>
              <td><%= hours_and_minutes(project["time"] / 1000) %></td>
            <% end %> <!--post.each-->
            </tr>
          </tbody>
        </table>
      </div> <!-- col-md-8 -->
      <div class="col-md-6">
        <%= pie_chart(hash_for_chart) %>
      </div>
    </div>
</div>