
<%= form_for @post do |form| %>
  <div class="formtitle">
    
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h5>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :project %>
    <%= form.text_field :project %>
    <%= form.label :description %>
    <%= form.text_field :description %><br>
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %><br>
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %><br>
    <%= form.label :notes %>
    <%= form.text_field :notes %><br>
    <%= form.label :important %>
    <%= form.text_field :important %><br>
		
  </div>
   
 
  <%= form.submit %>
  <% end %>
  
  



 