<div class="container">
  <%= form_for @post do |form| %>
  <div class="formtitle">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>
    <%= form.cktext_area :content %><br>
 
  <%= form.submit %>
  <% end %>
  
  <div class="form-categories-<%=params[:controller]%>">
    <h4 class="heading">Current categories</h4>
    <ul>
    <% @posts.group_by{|post| post.category}.each do |category, value| %>
      <li><%= category %></li>
      <% end %>
    </ul>
  </div>
</div>



 