
  <%= form_for @post do |form| %>
  <div class="formtitle">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :category %>
    <%= form.text_field :category %>
    <%= form.file_field :image %>
  </div>
    <%= form.cktext_area :content %><br>
 
  <%= form.submit %>
  <% end %>
  
  



 