<div class="container-fluid">
  
		<% provide(:title, "| Blog") %>
	
	
  <!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 style="margin-top: 0px; margin-bottom: 50px;">CODING WITH CLAIR</h1>
      <p class="opening-paragraph-<%= params[:controller]%>">What I am currently working on: <%= @current_post.project %></p>
		</div>
	</div>
  
  <!-- ADMIN -->
       <% if user_signed_in? %>
      <%= link_to "Add new post", new_post_path, class: "btn btn-default" %>
      <% end %>

  
  <!-- Main body -->
	<div class="row">
    <div class="col-md-offset-1 col-md-8">
    
      <% @posts.each do |post| %>
      <div class="individualpost" id="<%= dom_id(post)%>">
        
        
        <div class="row">
          <div class="col-md-3">
						<div style="text-align: center;">
              <h3><%= post.project %> - <%= post.description %></h3>
              
              From <%= post.start_time.strftime("%H:%M") %> to <%= post.end_time.strftime("%H:%M") %>
             
						</div>
          </div>
          
						
						
        
        <!-- ADMIN -->
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_post_path(post), class:"btn btn-default" %><br>
        <% end %>
        
       </div><!-- individual post -->
       <div class="postseperator">
       </div>
      
      <% end %> <!-- @posts iteration -->
			
      
				
   </div> <!-- col-md -->
   

    
  </div><!-- row --> 
 
</div><!-- container -->
