<div class="container-fluid">
  <div class="col-md-offset-2 col-md-6">
  <h1 style="text-align:center;">BLOG POSTS</h1>
  <p>Learning to code is hard. This is my place to vent, question and generally comment on what I'm learning</p>
</div>
  <div class="row">
    <div class=" col-md-offset-2 col-md-6">
      
        <% @posts.each do |post| %>
          <h3 ><%= link_to post.title, post_path(post) %></h3>
      <p><%= sanitize(post.content.truncate(300)) %></p>
      
      <% if user_signed_in? %>
          <%= link_to "Edit", edit_post_path(post), class:"btn btn-default" %><br>
        
        <%= link_to "Add new post", new_post_path, class: "btn btn-default" %>
      <% end %>
     <% end %>
    </div>

    <div class="col-md-2 side-column-<%=params[:controller] %>">
      <h4>Blog navigation</h4>
      <% @posts.group_by{|post| post.category}.each do |category, value| %>
      <li class="list-unstyled"><%= category %></li>
      <% end %><br>
      
      <h4>By month </h4>
      <% @posts.group_by{|post| post.created_at.month}.each do |month, value| %>
      <li class="list-unstyled"><%= month %></li>
      <% end %>
    </div>
    
  </div><!-- row -->
</div><!-- container -->
