<div class="container-fluid">
  <% provide(:title, "| Schedule") %>
  
	<!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 style="margin-top: 0px; margin-bottom: 50px;">SCHEDULE</h1>
      <%= render partial: 'layouts/current_status' %>
		</div>
	</div>
  
  <!-- ADMIN -->
  <% if user_signed_in? %>
    <%= link_to "Add new activity", new_post_path, class: "btn btn-default" %>
  <% end %>

  <!-- Main body -->
  <div class="col-md-offset-1 col-md-10", >
    <div class="row">
      <% grouped_posts = @posts.group_by{|post| post.start_time.to_date}%>
      <% grouped_posts.sort_by{|date,value| date}.reverse.each do |date, posts| %>
        <div class="col-md-8" >
          <h4><%= date.to_date %></h4>
          <table class="table", style="text-align: center;">
            <thead>
              <tr>
                  <td><strong>Project</strong></td>
                  <td><strong>Description</strong></td>
                  <td><strong>Start Time</strong></td>
                  <td><strong>End Time</strong></td>
                  <td><strong>Minutes</strong></td>
                </tr>
            </thead>
            <tbody>
              <% posts.sort_by{|post| post.start_time}.each do |post| %>
              <tr>
                <td><%= post.project.title %></td>
                <td><%= post.description %></td>
                <td><%= post.start_time.strftime("%H:%M") %></td>
                <td><%= post.end_time.strftime("%H:%M") %></td>
                <td><%= post.total_minutes %></td>
                <% if user_signed_in? %>
                <td><%= link_to "Edit", edit_post_path(post), class:"btn btn-default" %></td>
                <% end %>
              <% end %> <!--post.each-->
                </tr>
            </tbody>
          </table>
        </div> <!-- col-md-8 -->
      
        <div class="col-md-4" style="text-align:center; margin-top: 50px;">
          <h4>Total time today </h4>
          <p><%= (@posts.total_time(date) / 3600).round %> hours, <%= ((@posts.total_time(date) % 3600) / 60).round %> minutes</p>
        </div><!-- col-md-4 -->
      <% end %><!-- grouped_post.each -->
      
     </div><!-- row -->
  </div><!-- col-md-10 --> 
</div><!-- container -->
