<div class="container-fluid">
  
		<% provide(:title, "| Blog") %>
	
	
  <!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 style="margin-top: 0px; margin-bottom: 50px;">CODING WITH CLAIR</h1>
      <p class="opening-paragraph-<%= params[:controller]%>">What I am currently working on: <%= @current_post.project %></p>
		</div>
	</div>
  
  <!-- ADMIN -->
       <% if user_signed_in? %>
      <%= link_to "Add new post", new_post_path, class: "btn btn-default" %>
      <% end %>

  
  <!-- Main body -->
	  <div class="col-md-offset-1 col-md-8">
      <div class="row" >
         <div class="col-md-8" style="text-align: center;">
           <% p = @posts.group_by{|post| post.start_time.to_date} %>
              <% p.each do |post, value| %>
           <h5><%= post.to_date %></h5>
						<table class="table">
                <thead>
                  <tr>
                    <td>Project</td>
                    <td>Description</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  
                  <% value.each do |posty| %>
                  <tr>
                    <td><%= posty.project %></td>
                    <td><%= posty.description %></td>
                    <td><%= posty.start_time.strftime("%H:%M") %></td>
                    <td><%= posty.end_time.strftime("%H:%M") %></td>
                    
                      <% if user_signed_in? %>
                        <td><%= link_to "Edit", edit_post_path(post), class:"btn btn-default" %></td>
                      <% end %>
                    <% end %>
                  </tr>
                </tbody>
              </table>
           <% end %>
            </div> <!-- col-md -->
        <div class="col-md-2">
           <p>Lovely picture going here</p>
        </div>
        
      </div><!-- don't know why, stops page going too far horizontally -->
 </div><!-- row --> 
</div><!-- container -->
