<div class="container-fluid">
  <% provide(:title, "| Schedule") %>
  
	<!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 class="heading-text">SCHEDULE</h1>
      <%= render partial: 'layouts/current_status' %>
		</div>
	</div>
  
  <!-- ADMIN -->
  <% if user_signed_in? %>
    <%= link_to "Add new activity", new_post_path, class: "btn btn-default" %>
  <% end %>

  <!-- Main body -->
  <div class="col-md-offset-1 col-md-10", >
    <div class="row">
			<% grouped_timeentries.sort_by{|date,value| date}.reverse.each do |date, posts| %>
        <div class="col-md-8" >
          <h4><%= date %></h4>
          <table class="table", style="text-align: center;">
            <thead>
              <tr>
                  <td><strong>Project</strong></td>
                  
                  <td><strong>Start Time</strong></td>
                  <td><strong>End Time</strong></td>
                  <td><strong>Minutes</strong></td>
                </tr>
            </thead>
            <tbody>
							<% posts.sort_by{|post| post["start"].to_time}.each do |post| %>
              <tr>
								<td><%= post["description"] %></td>
								<td><%= find_project(post["pid"]) %></td>
								<td><%= post["start"].to_time.strftime("%H:%M") %></td>
								<% if post["stop"] != nil %>
									<td><%= post["stop"].to_time.strftime("%H:%M") %></td>
									<td><%= (post["duration"] / 60) %></td>
								<% else %>
								<td>Currently working!</td>
								<td></td>
								<% end %>
								
                <% if user_signed_in? %>
                <td><%= link_to "Edit", edit_post_path(post), class:"btn btn-default" %></td>
                <% end %>
              <% end %> <!--post.each-->
                </tr>
            </tbody>
          </table>
        </div> <!-- col-md-8 -->
      	<div class="col-md-4" style="text-align:center; margin-top: 50px;">
          <h4>Total time today </h4>
					<% this_date = @body.select{|post| post["start"].to_date == date.to_date} %>
					<% total = [] %>
					<% this_date.each do |date| %>
						<% if date["duration"].to_i > 0 %>
							<% total.push(date["duration"]) %>
						<% end %>
					<% end %>
				
					<p><%= (total.reduce(:+) / 3600).round %> hours, <%=((total.reduce(:+) % 3600)/60).round %> minutes</p>
			
        </div><!-- col-md-4 -->
        
      <% end %><!-- grouped_post.each -->
		</div><!-- row -->
		
  </div><!-- col-md-10 --> 
</div><!-- container -->
