<% provide(:title, "| #{@post.project}") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
      <p style="text-align: center;"><%= image_tag @post.image.url(:medium)%></p>
      <h1><%= @post.projety %></h1>
      <h5>Posted on <%= @post.created_at.to_date %></h5>
      <div class="postseperator">
			</div>
			<div class="content">
      	<p> <%= sanitize @post.content %></p>
			</div>
     
			<%= render_shareable :buttons=> ['twitter', 'facebook'] %>
       <%= render 'disqus' %>
    </div>
  
    <%=link_to "Back to daily thing", posts_path, class: "btn btn-default" %>
    
  </div>  
</div>