<div class = "container-fluid" >
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Website</h1><br>
			
			<div class="portfolioseperator">
        </div>
  
  <div class="content">
		<p><strong>Github link: </strong><a href="https://github.com/cakeordeath83/website">Here</a></p>
    <p><strong>Elevator pitch:</strong> A website to house my portfolio, blog and code snippets I've picked up along the way</p>

    <p><strong>Client: </strong>Me!</p>
    
    <p><strong>Features </strong></p>
		
    <ul>
      <li>Different colour depending on area of the site.</li>
      <li>Tagging system (with a category for grouping as well).</li>
			<li>ANYTHING ELSE?</li>
		</ul>
		
  </div>
			
	<div class="portfolioseperator">
  </div>
		
	<div class="content">
				
		<p><strong>Description</strong></p>
			<p>WRITE ME! </p>
			<p>WRITE ME!</p>
		
		<p><strong>Things I'm proud of </strong></p>
			<ul>
				<li>WRITE ME</li>
				<li>WRITE ME</li>
				<li>WRITE ME</li>
			</ul>
    
    
    <p><strong>Future developments </strong></p>
			<ul>
				<li>Find a better way of showing the screenshots on portfolio pages</li>
				<li>Sort out better urls</li>
				<li>WRITE ME</li>
			</ul>
    

		<p><strong>Gems I used </strong></p>
			<ul>
				<li>Paperclip – For image uploads </li>
				<li>Bootstrap and Bootstrap_form – For styling</li>
				<li>Ckeditor - For adding content</li>
				<li>Devise - For login</li>
				<li>Breadcrumbs_on_rails - To add breadcrumbs for navigation</li>
				<li>Will_paginate and Will_paginate_bootstrap - For pagination</li>
				<li>Shareable - For Twitter and Facebook icons</li>
				<li>AWS-SDK – For storing the uploaded images</li>
				<li>Figaro – For authentication of the AWS account</li>
			</ul>
    

   <p><strong>Potential future code cleanup </strong></p>
			<ul>
				<li>More tests. I have a couple in there but I'm not sure what level of testing I need to add</li>
				<li>WRITE ME!</li>
				
			</ul>
    
		<div class="portfolioseperator">
    </div>
				
		<div class="content">
			<p><strong>Screenshots</strong></p>
			</div>

		<div class="col-md-12">
			<p class="portfolioimages" style="text-align: center;"><%= image_tag "menu/Menu landing.PNG", height: '500', width: '800', class: "img-responsive image"%></p>
			<p class="portfolioimages"><%= image_tag "menu/postcode.PNG", height: '500', width: '800', class: "img-responsive image"%></p>
			<p class="portfolioimages"><%= image_tag "menu/category.PNG", height: '500', width: '800', class: "img-responsive image"%></p>
			<p class="portfolioimages"><%= image_tag "menu/Surprise me.PNG", height: '500', width: '800', class: "img-responsive image"%></p>
			<p class="portfolioimages"><%= image_tag "menu/Show items.PNG", height: '500', width: '800', class: "img-responsive image"%></p>
			
		</div>

    
		</div><!-- row -->
</div><!-- container -->