<% if @body && the_live_post = live_post(@body) %>
<% project = Project.find_by_title("#{the_live_post["description"]}") %>
  <p class="opening-paragraph-<%= params[:controller]%>", id="live_project_link">
		<%="Right now (#{Time.now.strftime("%H:%M")}) I am working on:"%> <br>
		<% if !project.link.empty? %>
		<strong><%= link_to "#{the_live_post["description"]}", "http://#{project.link}"%></strong>
		<% else %>
		<strong><%= "#{the_live_post["description"]}" %></strong>
		<% end %>
		<p><%= project.description %></p>
<% elsif %>
  <%  Time.now.strftime("%H:%M") > "18:30" %>
  <p class="opening-paragraph-<%= params[:controller]%>"><%="Right now (#{Time.now.strftime("%H:%M")}) I am not currently working. If its late I'm probably asleep, if not I'm probably watching TV or messing around on the internet. Either way, I'm not studying"%></p>
<% else %>
   <p class="opening-paragraph-<%= params[:controller]%>"><%="I am currently on a break but will be back shortly!"%>
<% end %>

		 